<html>
	<h1>Registered Teams</h1>

	<section>
		<table>
			<th>Tournament</th>
			<th>Team Name</th>
			<th>Show</th>
			<th>Delete Team</th>
			<th colspan="4"></th>
			
			<% @teams.each do |team| %>
				<tr>
					<td><%= team.tournament.name %></td>
					<td><%= team.name %></td>
					<td><%= link_to "Show", team_path(team) %></td>
					<td><%= link_to "Delete", team_path(team), method: :delete, data: {confirm: "Delete team?"} %></td>
				</tr>
			<% end %>
		</table>		
	</section>
	<br>
	<%= link_to "Home", controller:"home_page"%>
</html>
