<html>
<br>
<br>
	<h1>Equipos registrados</h1>

	<section>
		<table>
			<th>Torneo</th>
			<th>Equipo <%=t :Name %></th>
			<th><%=t :Show %></th>
			<th><%=t :Delete %> Equipo</th>
			<th colspan="4"></th>
			
			<% @teams.each do |team| %>
				<tr>
					<td><%= team.tournament.name %></td>
					<td><%= team.name %></td>
					<td><%= link_to t("Show"), team_path(team) %></td>
					<td><%= link_to t("Delete"), team_path(team), method: :delete, data: {confirm: "Eliminar equipo?"} %></td>
				</tr>
			<% end %>
		</table>		
	</section>
	<br>
	<%= link_to t("home"), controller:"home_page"%>
</html>
