<h1>Añadir información del equipo</h1>
<br>
<%=form_for :team, url: teams_path do |f| %>
   <p>
      <%= f.label t(:Name) %><br>
      <%= f.text_field :name %><br>
   </p>
   
   <p>
      <%= f.label :Torneo %><br>
      <%= f.text_field :tournament_id %><br>
   </p>

   <p>
      <%= f.submit %>
   </p>
<% end %>

<%= link_to t('Back'), controller: 'home_page' %>