<h1>XXX Golf Tournaments - Admin</h1>

<p>
  <%=link_to 'View all users' , people_path%>
</p>
<p>
  <%=link_to 'View all Tournaments', tournaments_path%>
<br>
<p>
  <%=link_to 'View all Teams', teams_path%>
<br>

<p>
  <%=link_to 'tournament_organizers', tournament_organizers_path%>
<br>
<p>
  <%=link_to 'golf_course_organizers', golf_course_organizers_path%>
<br>

<p>
  <%=link_to 'New Team', new_team_path%>
<br>
<p>
  <%=link_to 'Website Admins', website_admins_path%>
<br>
<p>
  <%=link_to 'Players Page', players_path%>
<br>
<p>
  <%=link_to 'Sponsors Page', sponsors_path%>
