
<p>
  <%=link_to 'View all users' , people_path%>
</p>
<p>
  <%=link_to 'View all Tournaments', tournaments_path%>
<br>
<p>
  <%=link_to 'View all Teams', teams_path%>
<br>

<p>
  <%=link_to 'tournament_organizers', tournament_organizers_path%>
<br>
<p>
  <%=link_to 'golf_course_organizers', golf_course_organizers_path%>
<br>

<p>
  <%=link_to 'New Team', new_team_path%>
<br>
<p>
  <%=link_to 'Website Admins', website_admins_path%>
<br>
<p>
  <%=link_to 'Players Page', players_path%>
<br>
<p>
  <%=link_to 'Sponsors Page', sponsors_path%>
<br>


<br>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="w3-container">
  <div class="jumbotron">
    <p style="text-align: center" class="w3-xlarge">WELCOME TO CSC444 GOLF TOURNAMENT SITE</p>
    <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="images/default_image.jpg" class="w3-opacity" />
            <span class="flex-caption">COME AND CHECK OUT OUR FEATURES</span></a>
          </li>
          <li>
            <img src="images/download.jpeg" class="w3-opacity" />
            <span class="flex-caption">LEARN FROM THE PROFESSIONALS</span></a>
          </li>
          <li>
            <img src="images/newbruns.jpg" class="w3-opacity" />
            <span class="flex-caption">PLAY IN SOME OF THE MOST BEAUTIFUL GOLF COURSES IN THE WORLD</span></a>
          </li>
        </ul>
    </div>
  </div>
  <hr class="line_break">
  <div class="jumbotron">
      <table width=100%> 
          <tr> 
            <td valign="top">
            <h3 style="padding-bottom: 40px; padding-left: 50px">Live Active Tournaments</h3>
             <table id="livetournaments" class="w3-table-all w3-card-4 w3-bordered">
                <tr class="w3-hover-red">
                    <th>Name</th>
                    <th>Location</th>
                </tr>
                <tr class="w3-hover-text-green">
                    <td id="TName">Augusta</td>
                    <td>USA</td>
                </tr>
                <tr class="w3-hover-text-green">
                    <td id="TName">Loren Place</td>
                    <td>Toronto</td>
                </tr>
                <tr class="w3-hover-text-green">
                    <td id="TName">CME Group Tour</td>
                    <td>Hamilton</td>
                </tr>
              </table>
            </td>
          <td valign="top">
              <div style="text-align: center;"><h3>Tournament Updates</h3> <p id="style" style="padding-left: 10px"> Click on one of the Live Tournaments for it's status</p></div>
              <table id="tournamentstatus" class="w3-table-all w3-card-4 w3-bordered">
                <tr>
                    <th>Player</th>
                    <th>Score</th>
                    <th>Hole</th>
                </tr>
              </table>
          </td>
        </tr>
        </table>
  </div>
  <hr class="line_break">
  <div class="jumbotron">
    <h2>Why use our service?</h2>
    <p>
      <ol>
        <li>Best Organized Golf Tournaments in North America</li>
        <li>Most Afforable Touraments</li>
        <li>Top Quality Coaching</li>
        <li>Fortune 500 Sponsors</li>
      </ol>
      For more information: Check out our <%=link_to 'Features', controller: "/feature", action: "index" %>
    </p>
  </div>
  <hr class="line_break">
  <div class="jumbotron" style="text-align: center">
     <h2>Pricing </h2>
     <p>Prices are also low as <strong>$29.95/tournament</strong></p>
     <p>For more details, check out specific <%=link_to 'Tournaments', tournaments_path%>
     <h2>Promotion</h2>
     <p>A 3-day trip to Florida for SomeGolfCourse tournament up to 3 people only $500! Register Now!</p>
  </div>
  <hr class="line_break">
  <div class="jumbotron">
    <h2>Testimonies</h2>
    <blockquote class="w3-panel w3-leftbar w3-light-grey">
        <p class="w3-large">
          <i>"Best Place for organizating Tournaments for Amateurs and Pros"</i></p>
          <p>-Tiger Woods</p>
    </blockquote>
    <blockquote class="w3-panel w3-leftbar w3-light-grey">
        <p class="w3-large">
          <i>"Recommended for all Golf Lovers everywhere!"</i></p>
          <p>-Barack Obama</p>
    </blockquote>
  </div>
  <hr class="line_break">
  <div class="jumbotron">
    <h2>Main Locations</h2>
    <p>These are some of the popular sponsored locations that we offer.</p>
    <div class="w3-row-padding w3-margin-top">
      <div class="w3-third">
          <div class="w3-card-2">
            <img src="/images/the-golf-courses-of-palmetto.jpg" class="w3-circle" alt="Palmetto" style="width:100%">
            <div class="w3-container w3-margin-left w3-margin-top" >
                  <h4>Palmetto, Hilton Head Is.</h4>
              </div>
          </div>
      </div>
      <div class="w3-third">
          <div class="w3-card-2">
            <img src="/images/Lake-of-Isles-640.jpg" class="w3-circle" alt="Pebble" style="width:100%">
            <div class="w3-container w3-margin-left w3-margin-top" >
                  <h4>Lake of Isles, N.Stonington, Connecticut</h4>
              </div>
          </div>
      </div>
      <div class="w3-third">
          <div class="w3-card-2">
            <img src="/images/newbruns.jpg" class="w3-circle" alt="fundy" style="width:100%">
            <div class="w3-container w3-margin-left w3-margin-top" >
                  <h4>Fundy National Park, New Brunswick, Canada</h4>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>  
<!--
<div style="max-width:100%;  height: 20%">
	<img class="mySlides" src="images/default_image.jpg" style="width:100%">
	<img class="mySlides" src="images/download.jpeg" style="width:100%">
</div>
<script>
  var slideIndex = 0;
  carousel();
</script>
-->