<h1>XXX Golf Tournaments</h1>
<br>
<strong><%= current_user.email %></strong><br>
<%= link_to 'Profile', controller: "people", action: "profile" %><br> 
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<p>
  <%=link_to 'View Tournaments', tournaments_path%>
<br>
<br>
  <%=link_to 'Register a Golf Course', new_golf_course_path%>
<br>
<p>
  <%=link_to 'Create a Tournament', new_tournament_path%>
<br>
<p>
  <%=link_to 'Purchase a Ticket', new_ticket_path%>
<br>