<h1>XXX Golf Tournaments</h1>
<br>
<%= render partial: "application/user_header" %>
<p>
  <%=link_to 'View Tournaments', tournaments_path%>
<br>
<br>
  <%=link_to 'Register a Golf Course', new_golf_course_path%>
<br>
<p>
  <%=link_to 'Create a Tournament', new_tournament_path%>
<br>
<p>
  <%=link_to 'Purchase a Ticket', new_ticket_path%>
<br>