<meta name="viewport" content="width=device-width, initial-scale=1">

<%= render partial: "people/portal/profile_tabs", locals: {person: @person} %>

<h3>Edit your information</h3>
<%= form_for @person, url: person_path(@person), method: :patch do |f| %>

  <% if @person.errors.any? %>
		<div id="error_explanation">
		  <h2>
			<%= pluralize(@person.errors.count, "error") %> prohibited
			this person from being saved:
		  </h2>
		  <ul>
			<% @person.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
		  </ul>
		</div>
	<% end %>
  <div class="col-md-3">
  	  <h5>Email (cannot be changed): </h5>
  	  <%= @person.user.email %>
	  
	  <h5>
	    <%= f.label :First_Name %><br>
	    <%= f.text_field :firstname %>
	  </h5>
	 
	  <h5>
	    <%= f.label :last_name %><br>
	    <%= f.text_field :lastname %>
	  </h5>
	  
	  <h5>
		<%= f.label :Date_of_birth %><br>
		<%= f.date_select :dob, order: [:month, :day, :year], start_year: 1930, end_year: 2000, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'} %>
	  </h5>
	  
	  <h5>
	    <%= f.label :phone_number, "Phone Number (XXX-XXX-XXXX)"%><br>
	    <%= f.text_field :phone %>
	  </h5>
 </div>


	<%= f.fields_for :address do |address| %>
		<div class="col-md-3">
			<h5>Apartment Number:</h5>
			<%= address.text_field :apartmentNumber %>
			
			<h5>Street Number:</h5>
			<%= address.text_field :streetNumber %>

			<h5>Street Name:</h5>
			<%= address.text_field :streetName %>

			<h5>City:</h5>
			<%= address.text_field :city %>
		 </div>

		  <div class="col-md-3">
		 	<h5>Province:</h5>
			<%= address.text_field :province %>

			<h5>Country:</h5>
			<%= address.text_field :country %>

			<h5>Postal Code:</h5>
			<%= address.text_field :postalCode %>
		 </div>

	<% end %>

 <div class="col-md-3">
  <h5>Profile Picture:</h5>
	<%= f.file_field :image %>
 </div>

 <div class="col-md-12">
 <br>
  <p>
    <%= f.submit %>
  </p>
 </div>
<% end %>
