<h1>Edit your information</h1>
<strong>Email (cannot be changed): </strong><%= @person.user.email %>
<%= form_for @person, url: person_path(@person), method: :patch do |f| %>

  <% if @person.errors.any? %>
		<div id="error_explanation">
		  <h2>
			<%= pluralize(@person.errors.count, "error") %> prohibited
			this person from being saved:
		  </h2>
		  <ul>
			<% @person.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
		  </ul>
		</div>
	<% end %>
  
  <p>
    <%= f.label :First_Name %><br>
    <%= f.text_field :firstname %>
  </p>
 
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :lastname %>
  </p>
  
  <p>
    <%= f.label :Date_of_birth, "Date of Birth (MM-DD-YYYY)"%><br>
    <%= f.text_field :dob %>
  </p>
  
  <p>
    <%= f.label :Address %><br>
    <%= f.text_field :location %>
  </p>
  
  <p>
    <%= f.label :phone_number, "Phone Number (XXX-XXX-XXXX)"%><br>
    <%= f.text_field :phone %>
  </p>
 
	<%= f.fields_for :address do |address| %>
		
		<p>
		<%= address.label :apartmentNumber %>
		<%= address.text_field :apartmentNumber %>
		</p>
		
		<p>
		<%= address.label :streetNumber %>
		<%= address.text_field :streetNumber %>
		</p>
		
		<p>
		<%= address.label :streetName %>
		<%= address.text_field :streetName %>
		</p>
		
		<p>
		<%= address.label :city %>
		<%= address.text_field :city %>
		</p>
		
		<p>
		<%= address.label :province %>
		<%= address.text_field :province %>
		</p>
		
		<p>
		<%= address.label :country %>
		<%= address.text_field :country %>
		</p>
		
		<p>
		<%= address.label :postalCode %>
		<%= address.text_field :postalCode %>
		</p>
		
	<% end %>
 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', controller: "people", action: "profile" %> 