<h1>Registered Users</h1>

<table>
	<tr>
		<th>First name</th>
		<th>Last name</th>
		<th>Email</th>
	</tr>
	
	<% @people.each do |person| %>
		<tr>
			<td><%= person.firstname %></td>
			<td><%= person.lastname %></td>
            <!-- this shouldn't be necessary once we update the db to add users to all people -->
			<% if person.user %>
                <td><%= person.user.email %></td> 
            <% else %>
                <td><%= "Invalid user" %></td>
            <% end %>
			<td><%= link_to 'Profile', person_path(person) %></td>
			<td><%= link_to 'Delete', person_path(person),
							method: :delete,
							data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<%end%>
</table>
<br>
<%= link_to 'Home', controller: 'home_page' %>