<h1>Registered Users</h1>

<table class="table">
	<tr>
		<th>First name</th>
		<th>Last name</th>
		<th>Email</th>
	</tr>
	
	<% @people.each do |person| %>
		<tr>
			<td><%= person.firstname %></td>
			<td><%= person.lastname %></td>
			<td><%= person.user.email %></td>
			<td><%= link_to t('Profile'), person_path(person) %></td>
			<td><%= link_to t('Delete'), person_path(person),
							method: :delete,
							data: {confirm: t('Are_you_sure')} %></td>
		</tr>
	<%end%>
</table>