<h1>Personal Information</h1>
<strong>User: <%= current_user.email %></strong>
<%= form_for :person, url: people_path do |f| %>
  <p>
    <%= f.label :First_Name %><br>
    <%= f.text_field :firstname %>
  </p>
 
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :lastname %>
  </p>
  
  <p>
    <%= f.label :Date_of_birth %><br>
    <%= f.text_field :dob %>
  </p>
  
  <p>
    <%= f.label :Address %><br>
    <%= f.text_field :location %>
  </p>
  
  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone %>
  </p>
 
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
