<%= link_to 'Home', controller: 'home_page' %>

<h1>Profile | <%=@person.firstname%> <%=@person.lastname%></h1>
<br>
<h2>Personal Information</h2>
<p>
    <strong>Email: </strong><%=@person.user.email%><br>
    <strong>Date of birth: </strong><%=@person.dob%><br>
    <strong>Phone Number: </strong><%=@person.phone%><br>
</p>

<%= link_to 'Edit', edit_person_path(@person) %>

<h3>Tournaments Registered (player)</h3>
<% @players.each do |p| %>
	<%= link_to p.tournament.name, tournament_path(p.tournament) %><br>
<% end %>

<h3>Tournaments Organized</h3>
<% @tournament_organizers.each do |to| %>
	<! TODO: should this link to the tournament organizer dashboard instead?
	Or maybe the show action will automatically load the dashboard if the current
	user is the organizer? >
	<%= link_to to.tournament.name, tournament_path(to.tournament) %><br>
<% end %>

<h3>Tournaments Sponsored</h3>
<% @sponsors.each do |s| %>
	<%= link_to s.tournament.name, tournament_path(s.tournament) %><br>
<% end %>

