<h1>Profile</h1>
<br>
<%= link_to 'Edit', edit_person_path(@person) %>
<br>
<h2>Personal Information</h2>
<p>
	<strong>First Name:</strong><%=@person.firstname%><br>
	<strong>Last Name:</strong><%=@person.lastname%><br>

    <strong>Email: </strong><%=@person.user.email%><br>
    <strong>Date of birth: </strong><%=@person.dob%><br>
    <strong>Phone Number: </strong><%=@person.phone%><br>

</p>

<h3>Address</h3>
<p>
	<strong>Address Type: </strong><%=@person.address.addressType%><br>
	<strong>Apartment Number: </strong><%=@person.address.apartmentNumber%><br>
	<strong>Street Number: </strong><%=@person.address.streetNumber%><br>
	<strong>Street Name: </strong><%=@person.address.streetName%><br>
	<strong>City: </strong><%=@person.address.city%><br>
	<strong>Province: </strong><%=@person.address.province%><br>
	<strong>Country: </strong><%=@person.address.country%><br>
	<strong>Postal Code: </strong><%=@person.address.postalCode%><br>
</p>

<h3>Linked Services</h3>
<table>
	<tr>
		<th>Service</th>
		<th>Status</th>
	</tr>

	<% services = ['Facebook', 'Twitter', 'Google', 'LinkedIn', 'Instragram']%>

	<% for service in services %>
		<tr>
			<td><%= service %></td>
			<% if true #Condition, check if connected already%> 
				<td>Not linked</td>
				<td><%= service %>: Link to sign up</td>
			<% else %>
				<td>Connected</td>
			<% end %>
		<tr>
	<% end %>

</table>


<%=link_to 'Back', controller: "people", action: "portal" %>


