<%= link_to 'Home', controller: 'home_page' %>

<h1>Profile | <%=@person.firstname%> <%=@person.lastname%></h1>
<br>
<h2>Personal Information</h2>
<p>
    <strong>Email: </strong><%=@person.user.email%><br>
    <strong>Date of birth: </strong><%=@person.dob%><br>
    <strong>Phone Number: </strong><%=@person.phone%><br>
</p>

<%= link_to 'Edit', edit_person_path(@person) %>

<% tournamentsSponsorIn = get_all_tournaments_as "sponsor" %>
<% tournamentsPlayerIn = get_all_tournaments_as "player" %>
<% tournamentsOrganizerIn = get_all_tournaments_as "organizer" %>


<h3>Tournaments Registered (as player)</h3>
<%= render partial: "tournaments/tournament_table", locals: {tournaments: tournamentsPlayerIn, include_cond: "days_away >= 0"} %>

<h3>Tournaments Organized</h3>
<%= render partial: "tournaments/tournament_table", locals: {tournaments: tournamentsOrganizerIn, include_cond: "days_away >= 0"} %>

<h3>Tournaments Sponsored</h3>
<%= render partial: "tournaments/tournament_table", locals: {tournaments: tournamentsSponsorIn, include_cond: "days_away >= 0"} %>
