<%= link_to 'Home', controller: 'home_page' %>

<h1>Profile | <%=@person.firstname%> <%=@person.lastname%></h1>
<br>
<h2>Personal Information</h2>
<p>
    <strong>Email: </strong><%=@person.user.email%><br>
    <strong>Date of birth: </strong><%=@person.dob%><br>
	<strong>Address: </strong><%=@person.location%><br>
    <strong>Phone Number: </strong><%=@person.phone%><br>
</p>

<%= link_to 'Edit', edit_person_path(@person) %>

<h3>Tournaments Registered (as player)</h3>
<%= render partial: "tournaments/tournament_table", locals: {tournaments: @tournaments_as_player, include_cond: "days_away >= 0"} %>

<h3>Tournaments Organized</h3>
<%= render partial: "tournaments/tournament_table", locals: {tournaments: @tournaments_as_organizer, include_cond: "days_away >= 0"} %>

<h3>Tournaments Sponsored</h3>
<%= render partial: "tournaments/tournament_table", locals: {tournaments: @tournaments_as_sponsor, include_cond: "days_away >= 0"} %>
