<body>
<% @person = current_person %>
<!--until credit card create redirects to a better page (maybe show all cards) I don't know where to put that-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= render partial: "people/portal/profile_tabs", locals: {person: @person} %>

<div class="container-fluid">
	<div class="col-md-6">
		<h3>Personal Information</h3>
		<div>
			<div class="col-md-4"><strong>First Name:</strong></div>
			<div class="col-md-8"><%=@person.firstname%></div>

			<div class="col-md-4"><strong>Last Name:</strong></div>
			<div class="col-md-8"><%=@person.lastname%></div>

			<div class="col-md-4"><strong>Email:</strong></div>
			<div class="col-md-8"><%=@person.user.email%></div>

			<div class="col-md-4"><strong>Date of birth:</strong></div>
			<div class="col-md-8"><%=@person.dob.to_formatted_s(:long_ordinal)%></div>

			<div class="col-md-4"><strong>Phone Number: </strong></div>
			<div class="col-md-8"><%=@person.phone%></div>
		</div>
	</div>
	<div class="col-md-6">
		<%= image_tag @person.image.url %>
	</div>




</div>

<% if flash[:error] %>
	<h2>1 error prohibited this person from being saved:</h2>
	<%= flash[:error] %>
	<br>
<% end %>


<!--
<%= link_to 'Edit', edit_person_path(@person) %>
<br>
<%= render partial: "people/display_person_info", locals: {person: @person} %>
<%=link_to 'Back', controller: "people", action: "portal" %>
-->
</body>

