
<% @person = current_person
# until credit card create redirects to a better page (maybe show all cards) I don't know where to put that
%>
<h1>Profile</h1>
<br>
<%= image_tag @person.image.url %>
<br>

<% if flash[:error] %>
<h2>1 error prohibited this person from being saved:</h2>
	<%= flash[:error] %>
	<br>
<% end %>

<%= link_to 'Edit', edit_person_path(@person) %>
<br>
<h2>Personal Information</h2>
<p>
	<strong>First Name:</strong><%=@person.firstname%><br>
	<strong>Last Name:</strong><%=@person.lastname%><br>

    <strong>Email: </strong><%=@person.user.email%><br>
    <strong>Date of birth: </strong><%=@person.dob.to_formatted_s(:long_ordinal)%><br>
    <strong>Phone Number: </strong><%=@person.phone%><br>

</p>

<h3>Address</h3>
<p>
	<strong>Apartment Number: </strong><%=@person.address.apartmentNumber%><br>
	<strong>Street Number: </strong><%=@person.address.streetNumber%><br>
	<strong>Street Name: </strong><%=@person.address.streetName%><br>
	<strong>City: </strong><%=@person.address.city%><br>
	<strong>Province: </strong><%=@person.address.province%><br>
	<strong>Country: </strong><%=@person.address.country%><br>
	<strong>Postal Code: </strong><%=@person.address.postalCode%><br>
</p>

<h3>Linked Services</h3>
<table>
	<tr>
		<th>Service</th>
		<th>Status</th>
	</tr>

	<% services = ['facebook', 'linkedin']%>

	<% for service in services %>
		<tr>
			<td><%= service.capitalize %></td>
			<% if service.eql?(@person.user.in_provider) || service.eql?(@person.user.fb_provider) %> 
				<td>Connected</td>
			<% else %>
				<td>Not linked</td>
				<% if service.eql?('facebook') %>
					<td><%= link_to "Link to Facebook", user_facebook_omniauth_authorize_path %></td>
				<% else %>
					<td><%= link_to "Link to LinkedIn", user_linkedin_omniauth_authorize_path %></td>
				<% end %>
			<% end %>
		<tr>
	<% end %>

</table>

<% if user_is_admin? == false %>
<%=link_to 'Delete my account', person_path(@person), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>

<%=link_to 'Back', controller: "people", action: "portal" %>


