<% # variable declaration
	c_date = Time.now.to_date
	tournaments_previous = Tournament.where("date<=?",c_date)
	tournaments_future = Tournament.where("date>?",c_date)
%>

<table>
	<tr>
		<th><%= sort("name") %> </th>
		<th><%=t :Address %></th>
		<th><%=t :number_hosted_tournaments %></th>
		<th><%=t :number_upcoming_tournaments %></th>
		<th><%=t :Link %></th>
		<th colspan="4"></th>
	</tr>

	<% golf_course.each do |gc| %>
			<tr>
				<td><%= gc.name %></td>
				<td><%= gc.address_id %></td>
				<td><%= tournaments_previous.where(golf_course: gc).count %></td>
				<td><%= tournaments_future.where(golf_course: gc).count %></td>
				<td><%= link_to t("Show"), golf_course_path(gc) %></td>
			</tr>
		<% end %>
</table>

