<h1>Register a Golf Course</h1>
<%= form_for @golf_course, url: golf_courses_path, html: { multipart: true } do |f| %>
  
  <% if @golf_course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@golf_course.errors.count, "error") %> prohibited
        this golf_course from being saved:
      </h2>
      <ul>
        <% @golf_course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
	<p>
		<%= f.label :Name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :Description %>
		<%= f.text_field :description %>
	</p>
 
	<%= f.fields_for :address do |address| %>
		
		<p>
		<%= address.label :streetNumber %>
		<%= address.text_field :streetNumber %>
		</p>
		
		<p>
		<%= address.label :streetName %>
		<%= address.text_field :streetName %>
		</p>
		
		<p>
		<%= address.label :city %>
		<%= address.text_field :city %>
		</p>
		
		<p>
		<%= address.label :province %>
		<%= address.text_field :province %>
		</p>
		
		<p>
		<%= address.label :country %>
		<%= address.text_field :country %>
		</p>
		
		<p>
		<%= address.label :postalCode %>
		<%= address.text_field :postalCode %>
		</p>
		
	<% end %>
	
	<p>Golf course image</p>
		<%= f.file_field :image %>
	<br>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', controller: 'home_page' %>