<html>
	<body>
		<h1>
			<strong><%= @golf_course.name %></strong>
		</h1>
		<p><%= @golf_course.description %></p>
		<br>
		<%= image_tag @golf_course.image.url %>
		<br>	
		
		<h3><%=t :Address %></h3>
		<p>
			<strong><%=t :StreetNumber %>:</strong><%= @golf_course.address.streetNumber %><br>
			<strong><%=t :StreetName %>:</strong><%= @golf_course.address.streetName %><br>
			<strong><%=t :City %>:</strong><%= @golf_course.address.city %><br>
			<strong><%=t :Province %>:</strong><%= @golf_course.address.province %><br>
			<strong><%=t :Country %>:</strong><%= @golf_course.address.country %><br>
			<strong><%=t :PostalCode %>:</strong><%= @golf_course.address.postalCode %><br>
		</p>

		<section>
			<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=<%= @golf_course.address.streetNumber.to_s+' '+@golf_course.address.streetName+', '+@golf_course.address.city+', '+@golf_course.address.province+', '+@golf_course.address.country+', '+@golf_course.address.postalCode %>&key=AIzaSyD8a5v_F5a9FS6gYvC7NYy7vwzaU4_moiw" allowfullscreen></iframe>
		</section>
		

		<br>
		<% if user_is_golf_course_organizer?(@golf_course) %>
			<p><%=t :you_are_organizer %>!</p>
			<%= link_to t('Edit'), edit_golf_course_path(@golf_course) %><br>
			<%= link_to t("Delete golf course"), golf_course_path(@golf_course),
				method: :delete,
				data: {confirm: 'Are you sure? Deleting this golf course will also delete all tournaments associated with it.'} %></td>
			<br>
		<% else %>
			<p>
				<strong><%=t :golf_course_org %>: </strong><%= @organizer.person.firstname %> <%= @organizer.person.lastname %>
				<!TODO: should we display contact information (email)?>
			</p>
		<% end %>

		<%= link_to t('home'), controller: 'home_page' %>
	</body>
	<br>
	<br>
</html>