<p>
  <strong>Golf Course Name:</strong>
  <%= @golf_course.name %>
</p>

<p>
  <strong>Golf Course StreetNumber:</strong>
  <%= @golf_course.address.streetNumber %>
</p>

<p>
  <strong>Golf Course StreetName:</strong>
  <%= @golf_course.address.streetName %>
</p>

<p>
  <strong>Golf Course City:</strong>
  <%= @golf_course.address.city %>
</p>

<p>
  <strong>Golf Course Province:</strong>
  <%= @golf_course.address.province %>
</p>

<p>
  <strong>Golf Course Country:</strong>
  <%= @golf_course.address.country %>
</p>

<p>
  <strong>Golf Course PostalCode:</strong>
  <%= @golf_course.address.postalCode %>
</p>

<% if user_is_golf_course_organizer?(@golf_course) %>
	<h3>You are an organizer for this golf course!</h3>
	<%= link_to 'Edit', edit_golf_course_path(@golf_course) %><br>
<% end %>

<%= link_to 'Home', controller: 'home_page' %>