<ul class="nav nav-tabs">
	<li role="presentation" ><%=link_to t('Personal Information'), controller: "people", action: "profile" %></li>
	<li role="presentation" ><%=link_to t('Address'), controller: "people", action: "address" %></li>
	<li role="presentation" ><%=link_to t('Linked Services'), controller: "people", action: "linked_services" %></li>
	<li role="presentation" ><a href="#" >Payment Information</a></li>
	<li role="presentation" ><%= link_to 'Edit Profile', edit_person_path(@person) %></li>
	<li role="presentation" >
		<% if user_is_admin? == false %>
			<%=link_to 'Delete my account', person_path(@person), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</li>
</ul>