<br>
<br>
<p><%=t :welcome %> <%=t :Back %>: <%=@person.firstname%> <%=@person.lastname%></p>

<%=link_to t('Profile'), controller: "people", action: "profile" %>
<br>
<%=link_to t('Tournaments'), controller: "people", action: "user_tourney" %>
<br>
<%=link_to t('Tickets'), controller: "people", action: "user_ticket" %>