<p>Welcome Back: <%=@person.firstname%> <%=@person.lastname%></p>

<%=link_to 'Profile', controller: "people", action: "profile" %>
<br>
<%=link_to 'Tournaments', controller: "people", action: "user_tourney" %>
<br>
<%=link_to 'Tickets', controller: "people", action: "user_ticket" %>