<section>
	<h1>
		<%= @tournament.name %>
	</h1>
	<p>
		<%= @tournament.description %>
	</p>
</section>

<%= image_tag @tournament.image.url %>

<section>
	<h2>
		<strong>Where?</strong>
	</h2>
	<p>
		<%= @tournament.golf_course.name %>
	</p>
	<p>
		<%= @tournament.golf_course.address.streetNumber %> <%= @tournament.golf_course.address.streetName %>
		</br>
		<%= @tournament.golf_course.address.city %>, <%= @tournament.golf_course.address.province %>, <%= @tournament.golf_course.address.country %>
		</br>
		<%= @tournament.golf_course.address.postalCode %>
	</p>
</section>
	
<section>
	<h2>
		<strong>When?</strong>
	</h2>
	<p>
		<%= t_date = @tournament.date.to_date %>
	</p>
	<p>
		<% c_date = Time.now.to_date %>
		<% days_away = (t_date - c_date).to_i %>
		
		<% if (days_away > 0) %>
			That's in <%= days_away %> days!
		<% elsif (days_away == 0) %>
			That's today!
		<% else %>
			This tournament is over.
		<% end %>
	</p>
</section>