<% c_date = Time.now.to_date %>

<table>
	<tr>
		<th><%= sort("name") %> </th>
		<th>Description</th>
		<th><%= sort("date") %></th>
		<th>Link</th>
		<th colspan="4"></th>
	</tr>

	<% tournaments.each do |t| %>
		<% t_date = t.date %>
		<% days_away = (t_date.to_date - c_date).to_i %>
		
		<% if eval(include_cond) %>
			<tr>
				<td><%= t.name %></td>
				<td><%= t.description %></td>
				<td><%= t_date.to_date %></td>
				<td><%= link_to "Show", tournament_path(t) %></td>
				<td><%= link_to "Sponsor this tournament", sponsors_path(sponsors: {tournament_id: t.id}), method: :post %>
			</tr>
		<% end %>
	<% end %>
</table>
