<html>

  <%= render partial: "tournaments/dashboard_header" %>

	<%= render partial: "tournaments/tournament_info" %>

	<% if @is_admin or @organizer.adminrights & 2 != 0 %> <!--check privileges to manage tee sheets-->
	<div class="container-fluid">
		<h2>
			Current Teamless Players
		</h2>
		<% teamless_players = @tournament.players.select{|p| p.team_id == nil } %>
		<% teams_needed = (teamless_players.length / 4.to_f).ceil + @full_teams %>
		
		<%= form_tag ("/tournaments/#{@tournament.id}/create_new_teams_for_tournament") do %>
			<table class="table">
				<th>First Name</th>
				<th>Last Name</th>
				<th>Add to Team Number:</th>
				<th colspan="3"></th>
				<% teamless_players.each do |tp|%>
					<tr>
						<td><%= tp.person.firstname %></td>
						<td><%= tp.person.lastname %></td>
						<td><%= number_field_tag "teams_selected[#{tp.id}]", nil, min: @full_teams+1, max: teams_needed, step: 1 %></td>
					</tr>
				<% end %>
			</table>
			<% if(teamless_players.empty? == false)%>
				<%= submit_tag "Add to Team" %>
			<% end %>
		<% end %>
	<% end %>
	</div>

</html>
