<br>
<br>
<h1>Modifier ce tournoi</h1>

<%= form_for :tournament, url: tournament_path(@tournament), html: { multipart: true }, method: :patch do |f| %>
  
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tournament.errors.count, "error") %> prohibited
        this tournament from being saved:
      </h2>
      <ul>
        <% @tournament.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label t("Name") %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label t("Description") %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :Est_ce_un_tournoi_public? %><br>
    
	<%= f.label :"Vrai" %>
	<%= f.radio_button :ispublic, "1", checked: @tournament.ispublic? %>
	
	<%= f.label :"Faux" %>
	<%= f.radio_button :ispublic, "0", checked: !@tournament.ispublic %>
  </p>
  
  <p><%=t :golf_courses %>: </p>
  <%= f.collection_select(:golf_course_id, GolfCourse.all, :id, :name) %>
  
  <p><%=t :Date %>:</p>
	<%= f.datetime_select(:date, start_year: 2018) %>
  
  <p>Image du tournoi:</p>
	<%= f.file_field :image %>
	
	<br>
  
  <p>
    <%= f.label :Fonctionnalités_supplémentaires %><br>
    <%= f.text_area :extrafeatures %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to t('Back'), controller: "tournaments", action: "dashboard" %>
