<h1>Tournaments</h1>

<table>
	<tr>
		<th>Tournament Name</th>
		<th>Description</th>
		<th>IsPublic</th>
		<th>Extra_features</th>
	</tr>
	
	<% @tournaments.each do |tournament| %>
		<tr>
			<td><%= tournament.name %></td>
			<td><%= tournament.description %></td>
			<td><%= tournament.ispublic %></td>
			<td><%= tournament.extrafeatures %></td>
			<td><%= link_to 'Show', tournament_path(tournament) %></td>
			<td><%= link_to 'Delete', tournament_path(tournament),
							method: :delete,
							data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<%end%>
</table>
<br>
<%= link_to 'Home', controller: 'home_page' %>
