<h1>Create a Tournament</h1>
<br>
<br>
<%= form_for @tournament, url: tournaments_path, html: { multipart: true } do |f| %>

    <% if @tournament.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@tournament.errors.count, "error") %> prohibited
            this tournament from being saved:
          </h2>
          <ul>
            <% @tournament.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label t("Name") %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label t("Description") %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :Is_it_a_public_tournament? %><br>

      <%= f.label :"True" %>
      <%= f.radio_button :ispublic, "1", checked: @tournament.ispublic? %>

      <%= f.label :"False" %>
      <%= f.radio_button :ispublic, "0", checked: !@tournament.ispublic %>
    </p>

	<p>Golf Course:</p>
	<%= f.collection_select(:golf_course_id, GolfCourse.all, :id, :name) %>
	
	<p>Date:</p>
	<%= f.datetime_select(:date, start_year: 2018) %>
	
	<p>Tournament Picture:</p>
	<%= f.file_field :image %>
	
	<br>
	
    <p>
      <%= f.label :Extra_Features %><br>
      <%= f.text_area :extrafeatures %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
<%= link_to t('Back'), controller: 'home_page' %>