<html>
	<head>
		<title> <%= @tournament.name %> </title>
	</head>
	<body>
		<%= render partial: "tournaments/tournament_info" %>
		
		<section>
			<br>
			<h2>Tournament Sponsors</h2>
			<% Sponsor.where(tournament_id: @tournament.id).find_each do |s| %>
				<%= render partial: "sponsors/show_brief", locals: {sponsor: s} %> 
			<% end %>
		</section>
		
		<div>
			<% status = tournament_status(@tournament) %>
			<br>
			<!Admin is allowed to register and manage tournament>
			<% if not status or (user_is_admin? and status == 4) %>
				<p><%= link_to "Sponsor/Register for this tournament", new_ticket_path %></p>
			<% end %>
			<% if status %>
				<p>You are currently registered for this tournament as <%= get_tickettype_name(status) %></p>
				<% if status == 4 or user_is_admin? %> <!tournament organizer>
					<%= link_to "Manage tournament", controller: "tournaments", action: "dashboard" %> 
				<% end %>
			<% end %>
		</div>
		<div>
			<p>
				<td><%= link_to "Back to all Tournaments", tournaments_path %></td>
			</p>
		</div>
	</body>
</html>
