<html>
	<head>
		<title> <%= @tournament.name %> </title>
	</head>
	<body>
		<%= render partial: "tournaments/tournament_info" %>
		
		<section>
			<br>
			<h2>Commanditaires du tournoi</h2>
			<% Sponsor.where(tournament_id: @tournament.id).find_each do |s| %>
				<%= render partial: "sponsors/show_brief", locals: {sponsor: s} %> 
			<% end %>
		</section>
		
		<section>
			<% status = tournament_status(@tournament) %>
			<br>
			<% if not status%>
				<p><%= link_to "Sponsor / Inscrivez-vous pour ce tournoi", new_ticket_path %></p>
			<% else %>
				<p>Vous êtes actuellement inscrit à ce tournoi comme <%= get_tickettype_name(status) %></p>
				<% if status == 4 %> <!tournament organizer>
					<%= link_to "Gérer le tournoi", controller: "tournaments", action: "dashboard" %> 
				<% end %>
			<% end %>
		</section>
		
		<section>
			<p>
				<td><%= link_to "Retour à tous les tournois", tournaments_path %></td>
			</p>
		</section>
	</body>
</html>
