<html>
	<head>
		<title> <%= @tournament.name %> </title>
	</head>
	<body>
		<%= render partial: "tournaments/tournament_info" %>

		<section>
			<h2>
				<strong>Current Teams</strong>
			</h2>
			<table>
				<th>Team Name</th>
				<th>Player 1</th>
				<th>Player 2</th>
				<th>Player 3</th>
				<th>Player 4</th>
				<th colspan="5"></th>
				
				<% @tournament.teams.each do |team| %>
					<tr>
						<td><%= team.name %></td>
						<td><%= team.p1.person.firstname %>, <%= team.p1.person.lastname %></td>
						<td><%= team.p2.person.firstname %>, <%= team.p2.person.lastname %></td>
						<td><%= team.p3.person.firstname %>, <%= team.p3.person.lastname %></td>
						<td><%= team.p4.person.firstname %>, <%= team.p4.person.lastname %></td>
					</tr>
				<% end %>
			</table>
		</section>
		
		<section>
			<br>
			<h2>Tournament Sponsors</h2>
			<% Sponsor.where(tournament_id: @tournament.id).find_each do |s| %>
				<%= render partial: "sponsors/show_brief", locals: {sponsor: s} %> 
			<% end %>
		</section>
		
		<section>
			<% status = tournament_status(@tournament) %>
			<br>
			<!Admin is allowed to register and manage tournament>
			<% if not status or (user_is_admin? and status == 4) %>
				<p><%= link_to "Sponsor/Register for this tournament", new_ticket_path %></p>
			<% end %>
			<% if status %>
				<p>You are currently registered for this tournament as <%= get_tickettype_name(status) %></p>
				<% if status == 4 or user_is_admin? %> <!tournament organizer>
					<%= link_to "Manage tournament", controller: "tournaments", action: "dashboard" %> 
				<% end %>
			<% end %>
		</section>
		
		<section>
			<p>
				<td><%= link_to "Back to all Tournaments", tournaments_path %></td>
			</p>
		</section>
	</body>
</html>
