<br>
<br>

<%= link_to t('home'), controller: 'home_page' %>
<table>
  <tr>
    <th>id</th>
    <th><%=t :Person %>_id</th>
    <th><%=t :Tournament %>_id</th>
  </tr>

  <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.id %></td>
        <td><%= sponsor.person_id %></td>
        <td><%= sponsor.tournament_id %></td>
        <td><%= link_to t('Sponsor')+" "+t('Profile'), sponsor_path(sponsor) %></td>
        <td><%= link_to t('Person')+" "+ t('Profile'), person_path(sponsor.person_id) %></td>
        <td><%= link_to t('Delete'), sponsor_path(sponsor),
                        method: :delete,
                        data: {confirm: t('Are_you_sure')} %></td>
      </tr>
  <%end%>
</table>
<%= link_to t('Create')+" "+ t('Sponsor'), new_sponsor_path %>