<html>
<h1>Sponsors on Record</h1>

<table>
	<tr>
		<th>User</th>
		<th>Name</th>
		<th>Website</th>
		<th>Contact Information</th>
		<th>Tournament</th>
	</tr>

	<% @sponsors.each do |sponsor| %>
		<tr>
			<td><%= sponsor.person.firstname %> <% sponsor.person.lastname %> (<%= link_to sponsor.person.user.email, person_path(sponsor.person) %>)</td>
			<td><%= sponsor.name %></td>
			<td><%= sponsor.website %></td>
			<td><%= sponsor.contact_info %></td>
			<td><%= link_to sponsor.tournament.name, tournament_path(sponsor.tournament) %></td>
			<!-- <td><%= link_to 'Sponsor Profile', sponsor_path(sponsor) %></td> -->
			<td><%= link_to 'Delete', sponsor_path(sponsor),
					method: :delete,
					data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<%end%>
</table>
</html>