<%= link_to 'Home', controller: 'home_page' %>

<h1>Sponsor tournament <%= @tournament.name %></h1>

<%=form_for :sponsors, url: sponsors_path, html: { multipart: true } do |f| %>

    <p>
      <%= f.label :company_name %><br>
      <%= f.text_field :name %><br>
    </p>

    <p>
      <%= f.label :company_website %><br>
      <%= f.text_field :website %><br>
    </p>
	
	<p>
      <%= f.label :contact_information %><br>
      <%= f.text_field :contact_info %><br>
    </p>
	
	<p>Company logo:</p>
	<%= f.file_field :logo %>
	<br>
    <p>
      <input type="submit" value="Submit">
    </p>

<% end %>