<%= render partial: "application/user_header" %>
<%= link_to 'Home', controller: 'home_page' %>

<h1>Sponsor | person_id: <%=@sponsor.person_id%> tournament_id: <%=@sponsor.tournament_id%></h1>

<!-- <%= link_to 'Edit', edit_sponsor_path(@sponsor.person_id) %> later -->