<%= link_to t('home'), controller: 'home_page' %>
<br>
<br>
<h1><%=t :Sponsor %> | <%=t :Person %>_id: <%=@sponsor.person.id%> <%=t :Tournament %>_id: <%=@sponsor.tournament.id%></h1>


<h2><%=t :tournament_details %></h2>
<section>
			<h2>
				<strong><%=t :Where %>?</strong>
			</h2>
			<p>
				<%= @sponsor.tournament.golf_course.name %>
			</p>
			<p>
				<%= @sponsor.tournament.golf_course.address.streetNumber %> <%= @sponsor.tournament.golf_course.address.streetName %>
				</br>
				<%= @sponsor.tournament.golf_course.address.city %>, <%= @sponsor.tournament.golf_course.address.province %>, <%= @sponsor.tournament.golf_course.address.country %>
				</br>
				<%= @sponsor.tournament.golf_course.address.postalCode %>
			</p>
</section>

<!-- <%= link_to 'Edit', edit_sponsor_path(@sponsor.person_id) %> later -->