<h1>Register for tournament <%= @tournament.name %></h1>
<h2>Select Ticketing Options</h2>

<h3>Ticket Type</h3>
<html>
<body>
<select>
  <option value="1">Player</option>
  <option value="2">Sponser</option>
  <option value="3">General Admission</option>
</select>
<br>
Total: ???
</body>
</html>

<h2>Account Info</h2>
<%= form_for :ticket, url: tickets_path do |f| %>
  <p>
	<%= f.label :Credit_card_number %><br>
	<%= f.text_field :credit_card_number %>
  </p>
  
 
  <p>
	<input type="submit" value="Continue">
  </p>
<% end %>

<%= link_to 'Back', controller: 'home_page' %>
