<%
  @ticket = Ticket.where(id: params[:id]).first
  unless @ticket
    render tournaments_path
  end
%>

<%
  @_price = 0
  case @ticket.tickettype
    when 1
      @_price = @ticket.tournament.pricePlayer
    when 2
      @_price = @ticket.tournament.priceSponsor
    when 3
      @_price = @ticket.tournament.priceSpectator
  end
  if not @_price
    @_price = 0
  end
%>
<h1>Payment for tournament <%= @ticket.tournament.name %></h1>

<strong><h3><%= "Ticket price is: $"  + @_price.to_s %></h3></strong>

<% if @cc.any? %>
    <%= render partial: "credit_cards/credit_cards_table_pay", locals: {ticket: @ticket, credit_cards: @cc} %>
<% else %>
    <i> No credit cards saved. </i>
<% end %>
<br>
<br>
<%= link_to "Pay with new credit card", new_credit_card_path(ticket_id: @ticket.id, direct_page: 1) %>
<br>
<br>
<%= link_to "Pay with PayPal",  @ticket.paypal_url(tournaments_path, @ticket.id, @ticket.tournament.pricePlayer), target: '_blank'%>
<br>
<br>

