<%
  @ticket = Ticket.where(id: params[:id]).first
  unless @ticket
    render tournaments_path
  end

  cc = CreditCard.where(person_id: current_person.id)
  %>
<h1>Payment for tournament <%= @ticket.tournament.name %></h1>

  <%= render partial: "credit_cards/credit_cards_table", locals: {credit_cards: cc} %>

  <%= render partial: "credit_cards/new", locals: {ticket_id: @ticket.id, direct_page: 1, return_page: 2} %>
<br>

<%= link_to 'Continue', ticket_path(@ticket) %> (test) <br>


<%= link_to 'Back', controller: 'home_page' %>
