
  <div class="col-md-6">
    <h3>Here is your ticket</h3>

  	<strong>Ticket type: </strong><%= get_tickettype_name(@ticket.tickettype) %><br>
  	<strong>Tournament: </strong><%= @ticket.tournament.name %><br>
  	<strong>Person name: </strong><%= @ticket.person.firstname %> <%= @ticket.person.lastname %><br>
  	<strong>Ticket id: </strong><%= @ticket.id %><br>
    <strong>Price: </strong> <%= get_price(@ticket) %> <br>
    <strong>Payment: </strong>
    <% if (@ticket.has_paid) %><b>Paid</b>
    <% else %><b>
    <%= link_to 'Pending', payment_path(@ticket.id) %></b>
    <% end %>
    <br> <br>
    <%= link_to 'Continue to tournament', tournament_path(@ticket.tournament) %>
  </div>

  <div class="col-md-6">
    <style type="text/css">
      table {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
      }
      td {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        width: 10px;
        height: 10px;
      }
      td.black { background-color: #000; }
      td.white { background-color: #fff; }
    </style>
    <br>
    <table>
      <% @qrcode.modules.each_index do |x| -%>
          <tr>
            <% @qrcode.modules.each_index do |y| -%>
                <% if @qrcode.dark?(x,y) -%>
                    <td class="black"/>
                <% else -%>
                    <td class="white"/>
                <% end -%>
            <% end -%>
          </tr>
      <% end -%>
    </table>
  </div>

<!-- <b> <%=@code%> </b> -->

