<h1>Purchase Successful</h1>
<h3>Here is your ticket</h3>
<p>
	<strong>Ticket type: </strong><%= get_tickettype_name(@ticket.tickettype) %><br>
	<strong>Tournament: </strong><%= @ticket.tournament.name %><br>
	<strong>Player name: </strong><%= @ticket.person.firstname %> <%= @ticket.person.lastname %><br>
	<strong>Ticket id: </strong><%= @ticket.id %><br>
</p>
<%= link_to 'Home', controller: 'home_page' %>
