<html>

	<h1>Players on Record</h1>
	<table>
		<tr>
			<th>User</th>
			<th>Tournament</th>
			<th>Team</th>
		</tr>

		<% @players.each do |player| %>
			<tr>
				<td><%= player.person.firstname %> <% player.person.lastname %> (<%= link_to player.person.user.email, person_path(player.person) %>)</td>
				<td><%= link_to player.tournament.name, tournament_path(player.tournament) %></td>
				<!-- TODO: Add link to show team -->
				<td>No team</td>
				<!-- Why do we need player/show view? -->
				<!-- <td><%= link_to "Player Profile", player_path(player) %></td> -->
				<td><%= link_to "Delete", player_path(player), method: :delete, data: {confirm: "Are you sure?"} %></td>
			</tr>
		<%end%>
	</table>
</html>