<%= link_to t('home'), controller: 'home_page' %>
<br>
<br>
<h1><%=t :new_player %></h1>

<%=form_for :player, url: players_path do |f| %>

    <p>
      <%= f.label t("Person") %><br>
      <%= f.text_field :person_id %><br>
    </p>

    <p>
      <%= f.label t("Tournament") %><br>
      <%= f.text_field :tournament_id %><br>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>