<%= link_to t('home'), controller: 'home_page' %>

<h1><%=t :Player %> | <%=t :Person %>_id: <%=@player.person_id%> <%=t :Tournament %>_id: <%=@player.tournament_id%></h1>

<!-- <%= link_to 'Edit', edit_player_path(@player.person_id) %> later -->