<br>
<br>
<h1><%=t :term_of_service %> (&quot;Condiciones&quot;)</h1>
<p>Última actualización: 27 de noviembre de 2016</p>
<p>Por favor, lea estos <%=t :term_of_service %> (&quot;Condiciones&quot;, &quot;<%=t :term_of_service %>&quot;) cuidadosamente antes de <a href="https://test-rubyonrails-app.herokuapp.com/">https://test-rubyonrails-app.herokuapp.com/</a> website (the &quot;Service&quot;) operated by CSC444Golf APP (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;).</p>
<p>Su acceso y uso del Servicio está condicionado a su aceptación y cumplimiento de estos Términos. Estos Términos se aplican a todos los visitantes, usuarios y otras personas que accedan o utilizan el Servicio.</p>
<p>Al acceder o utilizar el Servicio, usted acepta estar sujeto a estos Términos. Si no está de acuerdo con alguna parte de los términos, entonces no podrá acceder al Servicio. </p>
<p><strong>Cuentas</strong></p>
<p>Cuando crea una cuenta con nosotros, debe proporcionarnos información exacta, completa y actualizada en todo momento. El incumplimiento de estas condiciones constituye un incumplimiento de los Términos, lo cual puede resultar en la terminación inmediata de su cuenta en nuestro Servicio.</p>
<p>Usted es responsable de proteger la contraseña que utiliza para acceder al Servicio y para cualquier actividad o acción bajo su contraseña, ya sea que su contraseña sea con nuestro Servicio o con un servicio de terceros.</p>
<p>Usted se compromete a no divulgar su contraseña a ningún tercero. Usted debe notificarnos inmediatamente al darse cuenta de cualquier incumplimiento de seguridad o uso no autorizado de su cuenta.</p>
<p><strong>Enlaces a otros sitios web</strong></p>
<p>Nuestro Servicio puede contener enlaces a sitios web o servicios de terceros que no son propiedad ni están controlados por CSC444Golf APP.</p>
<p>CSC444Golf APP no tiene ningún control sobre, ni asume ninguna responsabilidad por, el contenido, las políticas de privacidad, o las prácticas de los sitios web o servicios de terceros. Usted reconoce y acepta además que CSC444Golf APP no será responsable, directa o indirectamente, por cualquier daño o pérdida causada o supuestamente causada por o en conexión con el uso o dependencia de tales contenidos, bienes o servicios disponibles en o A través de dichos sitios web o servicios.</p>
<p>Le recomendamos encarecidamente que lea los términos y condiciones y las políticas de privacidad de cualquier sitio web o servicios de terceros que visite.</p>
<p><strong>Terminación</strong></p>
<p>Podemos rescindir o suspender el acceso a nuestro Servicio de inmediato, sin previo aviso o responsabilidad, por cualquier motivo, incluyendo, sin limitación, si usted viola los Términos. </p>
<p> Todas las disposiciones de los Términos que por su naturaleza deben sobrevivir a la rescisión sobrevivirán a la rescisión, incluyendo, sin limitación, las disposiciones de propiedad, renuncias de garantía, indemnización y limitaciones de responsabilidad.
<p> Podemos cancelar o suspender su cuenta de inmediato, sin previo aviso o responsabilidad, por cualquier motivo, incluyendo, sin limitación, si usted viola los Términos. </p>
<p> Al finalizar, su derecho de usar el Servicio cesará inmediatamente. Si desea cancelar su cuenta, simplemente puede dejar de usar el Servicio. </p>
<p> Todas las disposiciones de los Términos que por su naturaleza deben sobrevivir a la rescisión sobrevivirán a la rescisión, incluyendo, sin limitación, las disposiciones de propiedad, renuncias de garantía, indemnización y limitaciones de responsabilidad.</p>
<p> <strong> Legislación aplicable </strong> </p>
<p> Estos Términos se regirán e interpretarán de conformidad con las leyes de Ontario, Canadá, sin tener en cuenta sus disposiciones de conflicto de leyes. </p>
<p> Nuestra falta de hacer valer cualquier derecho o disposición de estos Términos no se considerará una renuncia a esos derechos. Si alguna disposición de estos Términos se considera inválida o no ejecutable por un tribunal, las disposiciones restantes de estos Términos permanecerán en vigor. Estos Términos constituyen el acuerdo completo entre nosotros con respecto a nuestro Servicio, y sustituyen y reemplazan cualquier acuerdo previo que podamos tener entre nosotros en relación con el Servicio. </p>
<p> <strong> Cambios </strong> </p>
<p> Nos reservamos el derecho, a nuestra entera discreción, de modificar o reemplazar estos Términos en cualquier momento. Si una revisión es material, trataremos de proporcionar una notificación con un mínimo de 30 días de anticipación a la entrada en vigencia de nuevos términos. Lo que constituye un cambio material será determinado a nuestra sola discreción. </p>
<p> Al continuar con el acceso o el uso de nuestro Servicio después de que estas revisiones entren en vigor, usted acepta estar sujeto a los términos revisados. Si no está de acuerdo con los nuevos términos, por favor deje de usar el Servicio. </p>
<p><strong><%=t :Contact_Us %></strong></p>
<p>Si tiene alguna pregunta sobre estos Términos, por favor <%= link_to t('contact_us'), controller: "/contact_us", action: "index" %>.</p>
<br>
<br>

