<br>
<br>
<h1><%=t :term_of_service %> (&quot;Termes&quot;)</h1>
<p>Dernière mise à jour: 27 novembre 2016</p>
<p>Veuillez lire ces <%=t :term_of_service %> (&quot;Termes&quot;, &quot;<%=t :term_of_service %>&quot;) avant d'utiliser le <a href="https://test-rubyonrails-app.herokuapp.com/">https://test-rubyonrails-app.herokuapp.com/</a> website (the &quot;Service&quot;) operated by CSC444Golf APP (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;).</p>
<p>Votre accès et l'utilisation du Service sont conditionnés à votre acceptation et à la conformité aux présentes Conditions. Ces Conditions s'appliquent à tous les visiteurs, utilisateurs et autres personnes qui accèdent ou utilisent le Service.</p>
<p>En accédant ou en utilisant le Service, vous acceptez d'être lié par les présentes Conditions. Si vous n'êtes pas d'accord avec une partie des conditions, vous ne pouvez pas accéder au Service.</p>
<p><strong>Comptes</strong></p>
<p>Lorsque vous créez un compte avec nous, vous devez nous fournir des informations exactes, complètes et à jour en tout temps. Le non-respect de ces conditions constitue une violation des Conditions qui peuvent entraîner la résiliation immédiate de votre compte sur notre Service.</p>
<p>Vous êtes responsable de la protection du mot de passe que vous utilisez pour accéder au Service et aux activités ou actions sous votre mot de passe, que votre mot de passe soit avec notre Service ou un service tiers.</p>
<p>Vous acceptez de ne pas divulguer votre mot de passe à un tiers. Vous devez nous informer immédiatement après avoir pris connaissance d'une violation de la sécurité ou de l'utilisation non autorisée de votre compte.</p>
<p><strong>Liens vers d'autres sites Web</strong></p>
<p>Notre Service peut contenir des liens vers des sites Web ou des services tiers qui ne sont pas détenus ou contrôlés par CSC444Golf APP.</p>
<p>CSC444Golf APP n'a aucun contrôle sur le contenu, les politiques de confidentialité ou les pratiques des sites Web ou des services de tiers et n'assume aucune responsabilité à son égard. Vous reconnaissez et acceptez en outre que CSC444Golf APP ne peut être tenu responsable, directement ou indirectement, de tout dommage ou perte causé ou allégué par l'utilisation ou la dépendance à l'égard de tels contenus, biens ou services disponibles sur ou Par l'intermédiaire de tels sites Web ou services.</p>
<p>Nous vous conseillons vivement de lire les termes et conditions et les politiques de confidentialité des sites Web ou des services tiers que vous visitez.</p>
<p><strong>La résiliation</strong></p>
<p>Nous pouvons résilier ou suspendre l'accès à notre Service immédiatement, sans préavis ni obligation, pour quelque raison que ce soit, y compris, sans limitation, si vous avez enfreint les Conditions. </p>
<p> Toutes les dispositions des Conditions qui, de par leur nature, devraient survivre à la résiliation resteront en vigueur après la résiliation, y compris, sans limitation, les dispositions relatives à la propriété, les clauses de garantie, l'indemnité et les limitations de responsabilité.
<p> Nous pouvons résilier ou suspendre votre compte immédiatement, sans préavis ni responsabilité, pour quelque raison que ce soit, y compris, sans limitation, si vous avez enfreint les Conditions. </p>
<p> À la résiliation, votre droit d'utiliser le Service cessera immédiatement. Si vous souhaitez résilier votre compte, vous pouvez simplement cesser d'utiliser le service. </p>
<p> Toutes les dispositions des Conditions qui, de par leur nature, devraient survivre à la résiliation resteront en vigueur après la résiliation, y compris, sans limitation, les dispositions relatives à la propriété, les clauses de garantie, l'indemnité et les limitations de responsabilité.</p>
<p> <strong> Legislación aplicable </strong> </p>
<p> Estos Términos se regirán e interpretarán de conformidad con las leyes de Ontario, Canadá, sin tener en cuenta sus disposiciones de conflicto de leyes. </p>
<p> Nuestra falta de hacer valer cualquier derecho o disposición de estos Términos no se considerará una renuncia a esos derechos. Si alguna disposición de estos Términos se considera inválida o no ejecutable por un tribunal, las disposiciones restantes de estos Términos permanecerán en vigor. Estos Términos constituyen el acuerdo completo entre nosotros con respecto a nuestro Servicio, y sustituyen y reemplazan cualquier acuerdo previo que podamos tener entre nosotros en relación con el Servicio. </p>
<p> <strong> Cambios </strong> </p>
<p> Nos reservamos el derecho, a nuestra entera discreción, de modificar o reemplazar estos Términos en cualquier momento. Si una revisión es material, trataremos de proporcionar una notificación con un mínimo de 30 días de anticipación a la entrada en vigencia de nuevos términos. Lo que constituye un cambio material será determinado a nuestra sola discreción. </p>
<p> Al continuar con el acceso o el uso de nuestro Servicio después de que estas revisiones entren en vigor, usted acepta estar sujeto a los términos revisados. Si no está de acuerdo con los nuevos términos, por favor deje de usar el Servicio. </p>
<p><strong><%=t :Contact_Us %></strong></p>
<p>Si vous avez des questions sur ces conditions, veuillez <%= link_to t('contact_us'), controller: "/contact_us", action: "index" %>.</p>
<br>
<br>

