<br>
<br>
<nav id="foot" class="navbar navbar-default container">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li id="footer"><%= link_to t("term_of_service"), controller: "/serviceterm", action: "index" %></li>
		<li id="footer"><%= link_to t("privacy_info"), controller: "/privacy", action: "index" %></li>
		<li id="footer"><%= link_to t("site_map"), controller: "/site_map", action: "index" %></li>
	</ul>

  		<%= link_to "English", :locale=>'en'%>
 		<%= link_to "Français", :locale=>'fr'%>
 		<%= link_to "Español", :locale=>'es'%>
  </div>
</nav>