<div id="navigation" class="w3-top">
		<ul class="w3-navbar w3-light-gray nav navbar-nav navbar-right">
			<button id="taskBtn" type="button" style="margin-left: 5px;" class="btn btn-success"><%=t :available_tasks %></button>
			<div id="taskModal" class="modal">
				 <!-- Modal content -->
				  <div class="modal-content">
				    <span class="close">×</span>
				    <h3> Tasks: </h3>
				    <%=link_to t('view_tournament'), tournaments_path%><br>
				    <%=link_to t('view_golf_course'), golf_courses_path%><br>
				    <% if user_signed_in? %>
				    	<%=link_to t("register_golf_course"), new_golf_course_path%><br>
				    	<%=link_to t("create_tournament"), new_tournament_path%><br>
				    	<%if user_is_admin? %>
				    		<%=link_to t("manage_users") , people_path%><br>
  							<%=link_to t("manage_teams"), teams_path%><br>
						    <%=link_to t("manage_tournament_organizers"), tournament_organizers_path%><br>
						    <%=link_to t("manage_golf_course_organizers"), golf_course_organizers_path%><br>
						    <%=link_to t("manage_website_admins"), website_admins_path%><br>
						    <%=link_to t("manage_players"), players_path%><br>
						    <%=link_to t("manage_sponsors_page"), sponsors_path%>
				    	<% end %>
				    <% end %>

				  </div>
			</div>
  			<% if user_signed_in? %>
	 			<%=t :welcome %>:
				<strong><%= current_user.email %> !</strong>
				<li id="head"  class="active"><%= link_to t('my_account'), controller: "people", action: "portal" %></li>
  				<li id="head"  class="active"><%= link_to t('log_out'), destroy_user_session_path, method: :delete %></li>
				<%  else %>
				<li id="head"  class="active"><%= link_to t('Login'), new_user_session_path %></li>
				<li id="head"  class="active"><%=link_to t('sign_up'), new_user_registration_path %></li>
			<% end %>
			<li id="head" class="active"><%= link_to t('contact_us'), controller: "/contact_us", action: "index" %></li>
			<li id="head"  class="active"><%= link_to t('Partners'), controller: "/partner", action: "index" %></li>
			<li id="head"  class="active"><%= link_to t('Our_Story'), controller: "/story", action: "index" %></li>
			<li id="head"  class="active"><%= link_to t('FAQ'), controller: "/faq", action: "index" %></li>
			<li id="head"  class="active"><%= link_to t('Features'), controller: "/feature", action: "index" %></li>
			<li id="head" class="active"><%= link_to t('Tournaments'), tournaments_path%></li>
			<li id="head" class="active"><%= link_to t('golf_courses'), golf_courses_path%></li>
			<li id="head"  class="active"><a href="/"><%=t :home %></a></li>
		</ul>
</div>

<script>
// Get the modal
var modal = document.getElementById('taskModal');

// Get the button that opens the modal
var btn = document.getElementById("taskBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>