<!DOCTYPE html>
<html lang="en">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/javascript/bootstrap.js"></script>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CSC444 Golf</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="header">
      <ul class="nav navbar-nav">
        <li><%= link_to t('Tournaments'), tournaments_path%></li>
        <li><%= link_to t('golf_courses'), golf_courses_path%></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                <ul class="dropdown-menu">
                  <li><%= link_to t('contact_us'), controller: "/contact_us", action: "index" %></li>
                  <li><%= link_to t('Partners'), controller: "/partner", action: "index" %></li>
                  <li><%= link_to t('Our_Story'), controller: "/story", action: "index" %></li>
                  <li><%= link_to t('FAQ'), controller: "/faq", action: "index" %></li>
                  <li><%= link_to t('Features'), controller: "/feature", action: "index" %></li>
                </ul>
          </li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                <ul class="dropdown-menu">
                  <li><%=link_to 'Profile', controller: "people", action: "profile" %></li>
                  <li><%=link_to 'Tournaments', controller: "people", action: "user_tourney" %></li>
                  <li><%=link_to 'Tickets', controller: "people", action: "user_ticket" %></li>
                </ul>
            </li>
            <li ><%= link_to t('log_out'), destroy_user_session_path, method: :delete %></li>
            <%  else %>
            <li ><%= link_to t('Login'), new_user_session_path %></li>
            <li ><%=link_to t('sign_up'), new_user_registration_path %></li>
          <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</html>