
        <nav>
          <ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
	 			Welcome:
				<strong><%= current_user.email %> !</strong>
				<li id="head"><%= link_to 'My Account', controller: "people", action: "portal" %></li>
  				<li id="head"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
				<%  else %>
				<li id="head"><%= link_to 'Login', new_user_session_path %></li>
				<li id="head"><%=link_to 'Sign Up', new_user_registration_path %></li>
			<% end %>
			<li id="head"><%= link_to 'Contact Us', controller: "/contact_us", action: "index" %></li>
			<li id="head"><%= link_to 'Partners', controller: "/partner", action: "index" %></li>
			<li id="head"><%= link_to 'Our Story', controller: "/story", action: "index" %></li>
			<li id="head"><%= link_to 'FAQ', controller: "/faq", action: "index" %></li>
			<li id="head"><%= link_to 'Features', controller: "/feature", action: "index" %></li>
			<li id="head"><%= link_to 'Tournaments', tournaments_path%></li>
			<li id="head"><%= link_to 'Home', controller: "/home_page", action: "index" %> </li>
		  </ul>
		</nav>
<br>