<!DOCTYPE html>
<html>
  <head>
    <title>CSC444 Golf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  	<%= render partial: "application/user_header" %>
    <%= yield %>
  </body>
  <%= render partial: "application/footer" %>
</html>
