<!DOCTYPE html>
<html>
  <head>
    <title>CSC444 Golf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  	<%= render partial: "application/user_header" %>


    <div style="max-width:100%;  height: 20%">
        <img class="mySlides" src="images/default_image.jpg" style="width:100%">
        <img class="mySlides" src="images/download.jpeg" style="width:100%">
    </div>
    <script>
      var slideIndex = 0;
      carousel();
    </script>


    <%= yield %>
  </body>
  <%= render partial: "application/footer" %>
</html>
