<!DOCTYPE html>
<html>
  <head>
    <title>CSC444 Golf</title>
    <%= csrf_meta_tags %>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	
    <link rel="stylesheet" href="/css/w3.css">
    <script src="/javascript/jquery-3.1.1.min.js"></script>
    
	 <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/javascript/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <%= render partial: "application/user_header" %>
  <body style="background-color: #e3e4e5" >


  	<% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
    <% end -%>
    	
    <%= yield %>
  </body>
  <%= render partial: "application/footer" %>
</html>
